/*
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.navbar .navbar-collapse {
    text-align: center;
}
*/

/* the whole webpage structure */

/* footer in the bottom has 5% height of browser height */

html,
body {
    display: block; /* it must be block as default */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.not-footer {
    display: block; /* it must be block as default */
    overflow: hidden;
    width: 100%;
    min-height: 100%; /* at least 100% */
    margin: 0 0 -50px; /* leave 50px for footer */
    padding: 0;
}

.not-footer-buffer {
    height: 50px; /* 50px */
}

.footer {
    display: block; /* it must be block as default */
    bottom: 0;
    width: 100%;
    height: 50px; /* 50px */
    margin: 0;
    padding: 0;
}

.footer .footer-table {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;
    /* the following are the style inside the footer */
    background-color: #428bca;
    text-align: center;
}

.footer .footer-row {
    display: table-row;
}

.footer .footer-cell {
    display: table-cell;
    vertical-align: middle;
}

.footer p {
    margin: 0;
}

#id-search-key .input-group {
    width: 50%;
}

#id-search-key #search-clear {
    cursor: pointer;
    pointer-events: auto;
    &:hover {
        color: #777;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
}

.navbar .navbar-collapse .navbar-form-no-border {
    border: 0;
}

.navbar .navbar-toggle-float-left {
    float: left;
    margin-left: 15px;
}

.row-no-margin .row {
    margin: 0;
}

.list li {
    border: 0;
    padding: 0;
}

.container {
    max-width: 700px;
}

.container-core {
    margin-top: 50px;
    padding: 0 15px 0;
}

.footer p {
    margin: 0;
    color: #333333;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
    background-color: #b3d1ea;
    border-color: #428bca;
}

.navbar-default .navbar-brand {
    color: #333333;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #428bca;
}

.navbar-default .navbar-text {
    color: #333333;
}

.navbar-default .navbar-nav > li > a {
    color: #333333;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #428bca;
}

.navbar-default .navbar-toggle {
    border-color: #428bca;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #428bca;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #333333;
}

.navbar-default .navbar-link {
    color: #333333;
}

.navbar-default .navbar-link:hover {
    color: #428bca;
}