.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-collapse .navbar-form-no-border {
  border-top: 0;
  border-bottom: 0;
}